<!--
<html>
   <body>
     <a href="{{ url_for('participate_event', u1=u1) }}">https://anpaipanda.com/event/{{ u1 }}</a><br><br>
     <a href="{{ url_for('index')}}">Go back</a>
   </body>
</html>
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Anpai Panda</title>
  </head>
  <body class="bg-light">
    <div class="container pt-4">

      <!-- First -->
      <h2 class="display-4 text-center my-5 text-muted">Event Created!</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <!-- /First -->

      <!-- Step 1 -->
      <h3 class="display-6 text-center my-5 text-muted">Share this URL with your friends</h3>
        <center>
        <label for="basic-url">Your event URL</label>
        <div class="input-group mb-3 mx-auto">
        <div class="input-group-prepend mx-auto">
        <span class="input-group-text text-center" id="basic-addon3">https://anpaipanda.com/event/{{ u1 }}</span><br>
        <input name="u1" type="submit" value="Copy" class="btn btn-outline-primary"></input>
        </div>
        </div>
      </center>
      <!-- /Step  -->

      <!-- Step 2  -->
      <h2 class="display-4 text-center my-5 text-muted">
        <a href="{{ url_for('participate_event', u1=u1) }}"><input type="submit" value="Go to Event page" class="btn btn-outline-primary" /></a>
      </h2>
      <!-- /Step 2 -->

      <!-- Step 3  -->
      <h2 class="display-4 text-center my-5 text-muted">
        <a href="{{ url_for('index')}}"><input type="submit" value="Create a new event" class="btn btn-outline-primary" /></a>
      </h2>
      <!-- /Step 3 -->

      <!-- Step 4 test  -->
      <h2 class="display-6 text-center my-5 text-muted">
        <p>- post test -</p>
        <p>{{ request.form["event_date_time"] }}</p>
        <p>{{ request.form["event_name"] }}</p>
        <p>{{ request.form["event_memo"] }}</p>
      </h2>
      <!-- /Step 4 test -->


      <!-- signup form -->
      <hr>
      <div class="row py-4 text-muted">
        <div class="col-md col-xl-5">
          <p><strong>About Anpai Rich</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="col-md col-xl-5 ml-auto">
          <p><strong>Stay up-to-date on Anpai Rich</strong></p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Sign up</button>
            </span>
          </div>
        </div>
      </div>
      <hr><!-- /signup form -->

    </div> <!-- /.container -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
